body {
	background-color: rgb(215, 218, 224);
	font-family: Times New Roman;
}

h1 {
	text-align: center;
}

.circular--landscape {
	display: inline-block;
	position: relative;
	width: 310px;
	height: 290px;
	overflow: hidden;
	border-radius: 50%;
}

.circular--landscape img {
	width: auto;
	height: 50%;
}