body {
	background-color: rgb(255, 255, 255);
	font-family: Times New Roman;
}

h1 {
	text-align: center;
}

.circular--square {
	border-radius: 50%;
}

.circular--square img {
	width: auto;
	height: 50%;
}