body {
	background-color: rgb(255, 255, 255);
	font-family: Times New Roman;
}

h1 {
	text-align: center;
}

h2 {
	text-align:left;
}

ul {
	list-style-position: inside;
	list-style-type: circle;
}

p {
	font-family: Times New Roman;
}